extends layout

block content
  //aqui passa a variavel para ocupar todo o elemento
  h1= title

  //aqu monta uma string interpolada com a variavel para o elemento
  p Welcome to #{title}
  p Hoje: #{now}
