* {
  color: darkgray;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
}

h1, h2 {
  text-align: center;
}

form {
  margin-right: 10vw;
}

table {
  border-collapse: collapse;
  max-height: 35vh;
  align-self: center;
}

thead, tbody {
  border: 1px solid white;
}

th, td {
  padding: .5vw;
  text-align: center;
  min-width: 5vw;
  border: 1px solid white;
}

