* {
    color: gray !important;
    background-color: black !important;
}

div, input {
    border: 1px solid #6c757d !important;
    padding: 1rem !important;
    align-items: center;
}

.list-group {
    border-radius: 1rem !important;
} 

details {
    border: 1px solid #ffffff !important;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    width: -moz-fit-content;
    width: fit-content;
}

summary, details {
    background-color: dimgray !important;
    list-style: none;
}

summary::marker{
	display: none;
}

summary::-webkit-details-marker{
    display: none;
	list-style: none;
	list-style-type: none;
}

a, main strong, main b, h5 {
    color: #dddddd !important;
    background-color: dimgrey !important;
    text-decoration: none;
}

footer {
    padding-bottom: 1rem; 
}
