
    


block content
    
    h2= respostaDB.id + '- sala: '+ respostaDB.nome 
    br
    div= 'capacidade: '+respostaDB.capacidade
    br
    br
    img(src = respostaDB.imagemsrc alt='imagem sala' widht='250' height='250')