
    


block content
    
    h2= respostaDB.id + ': ' +respostaDB.nome
    div= 'duração:'+respostaDB.duracao
    div= 'categoria Id:'+respostaDB.categoriaid
    br
    img(src = respostaDB.imagemsrc alt='imagem respostaDB' widht='250' height='250')
    
   
   
    
   