
    


block content
ul
each sala in respostaDB
    
    h2= sala.id + '- sala: '+ sala.nome 
    br
    div= 'capacidade: '+sala.capacidade
    br 
    br
    img(src = sala.imagemsrc alt='imagem sala' widht='250' height='250')
    
    
    
   
   
    
   