html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    overflow: hidden;
}

h1{
    font-size: 1.75rem;
    background: #444;
    padding: 5px 20px;
    color: #bbb;
}

canvas{
    width: 100%;
    height: 100%;
    background: #48b;
}